@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply text-primary-800 font-inter;
}

input {
	@apply bg-primary-200 text-primary-400
    px-3 py-1
    border border-primary-400
    rounded-lg;
}

th {
	@apply text-start font-semibold text-primary-600;
}

.flex--centered {
	@apply flex justify-center items-center;
}

.card--main {
	@apply border rounded-xl border-primary-100
        w-full overflow-hidden
		flex flex-col justify-between;
}

.card--main__footer {
	@apply w-full bg-primary-200
		text-center text-primary-600 font-semibold
		py-3 mt-5;
}

.searchBar__btn {
	@apply text-xs text-primary-700 
	border-primary-400
	flex--centered gap-1
	px-3;
}

.table--main__body__tr--normal {
	@apply w-full px-7
	grid grid-cols-3 gap-1
	items-center
	relative;
}

.table--main__body__tr--expanded {
	@apply border border-extra-300 rounded-xl
	w-full overflow-hidden
	shadow-sm p-10
	grid grid-cols-3 gap-y-12;
}

div.loading {
	@apply h-4
    bg-primary-300
    rounded;
}
